.facesDivTableContainer 
{
	flex-direction: column;
	display: table-row;
}

.facesDivTableRow
{
	display: flex;
	flex-direction: row;
}

.facesDivTableHeaderRow 
{
	display: inline-flex;
	flex-direction: row;
}