.facesOverlay
{
	z-index:5;
}

.facesPopup
{
	z-index:5;
	overflow:hidden;
	pointer-events: auto;
	position: fixed;
}

.facesWaitBox
{
	z-index:6;
}

.facesPopupCenter
{
	left: 50% !important;
	top: 50% !important;
	-webkit-transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1.0, 1.0);
   	-webkit-backface-visibility: hidden;
/*	-webkit-perspective: 1px;
    perspective: 1px;*/
}
