@external faces-*;
/****************     facesBackboneSwapPanel     *************************/
.facesBackboneSwapPanel {
	position: relative;
	visibility: visible;
}

.facesBackboneSwapPanel .faces-SwapPanel-currentPanel, .facesBackboneSwapPanel .faces-SwapPanel-nextPanel{
	position: absolute;
	width:100%;
	top: 0px;
	left: 0px;
}

.facesBackboneSwapPanel .faces-SwapPanel-nextPanel{
	display:none;
	overflow: hidden;
}