@external * ;

.table-container {
	display: inline-flex;
	flex-direction: column;
	border: solid 1px black;
}

.row {
	display: flex;
	flex-direction: row;
	border: solid 1px black;
}

.header-row {
	display: inline-flex;
	flex-direction: row;
	border: solid 1px black;
	overflow: hidden;
	background-color: #00CCEE;
}

.column
{
	width: 100px;
}