@external faces-*;

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-layoutWrapperPanel
{
	display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-inline-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-inline-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-inline-flex;	/* NEW - Chrome */
	display: inline-flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	min-height:100vh;
	flex-direction:column;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-contentPanel
{
	flex:1;
}