@external faces-*;

@def HEADER_HEIGHT 45px;

.facesBackboneTopMenuDisposal
{
	display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-inline-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-inline-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-inline-flex;	/* NEW - Chrome */
	display: inline-flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	min-height:100vh;
	flex-direction:column;
}

.facesBackboneTopMenuDisposal .contentPanel
{
	flex:1;
	padding-top:HEADER_HEIGHT;
}

.facesBackboneTopMenuDisposal .smallHeaderWrapper
{
	display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-inline-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-inline-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-inline-flex;	/* NEW - Chrome */
	display: inline-flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	position: fixed;
	z-index:3;
	width: 100%;
	height:HEADER_HEIGHT;
	flex-direction:row;
}

.facesBackboneTopMenuDisposal .menuButtonContainer
{
	display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-inline-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-inline-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-inline-flex;	/* NEW - Chrome */
	display: inline-flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	order:1;
	flex:HEADER_HEIGHT 0;
	flex-direction:column;
}

.facesBackboneTopMenuDisposal .menuPanel
{
	position:absolute;
	z-index:2;
	margin-top:HEADER_HEIGHT;
	height:100vh;
}

.facesBackboneTopMenuDisposal .smallHeaderPanel
{
	order:2;
	flex:1;
}